Creating vectors/factors and dataframes

We are performing RNA-Seq on cancer samples being treated with three different types of treatment (A, B, and P). 

You have 12 samples total, with 4 replicates per treatment. Write the R code you would use to construct your metadata table as described below.

Create the vectors/factors for each column (Hint: you can type out each vector/factor, or if you want the process go faster try exploring the rep() function).

Put them together into a dataframe called meta.

Use the rownames() function to assign row names to the dataframe (Hint: you can type out the row names as a vector, or if you want the process go faster try exploring the paste() function).

Your finished metadata table should have information for the variables sex, stage, treatment, and myc levels

In [115]:
meta <- data.frame(
    sex = rep(c("M", "F"), 6),
    stage = rep(c("I", "II", "II"), 4),
    treatment = rep(c("A", "B", "P"), each=4),
    myc = c(2343, 457, 4593, 9035,3450,3524,958,1053,8674,3424,463,5105))

row.names(meta)<-paste("sample",row.names(meta), sep="")
print(meta)

         sex stage treatment  myc
sample1    M     I         A 2343
sample2    F    II         A  457
sample3    M    II         A 4593
sample4    F     I         A 9035
sample5    M    II         B 3450
sample6    F    II         B 3524
sample7    M     I         B  958
sample8    F    II         B 1053
sample9    M    II         P 8674
sample10   F     I         P 3424
sample11   M    II         P  463
sample12   F    II         P 5105

return only the treatment and sex columns using []:

In [34]:
meta[c('sex','stage')]

         sex stage
sample1  M   I
sample2  F   II
sample3  M   II
sample4  F   I
sample5  M   II
sample6  F   II
sample7  M   I
sample8  F   II
sample9  M   II
sample10 F   I
sample11 M   II
sample12 F   II

return the treatment values for samples 5, 7, 9, and 10 using []:

In [42]:
meta[c(5,7,9,10),]

         sex stage treatment myc
sample5  M   II    B         3450
sample7  M   I     B          958
sample9  M   II    P         8674
sample10 F   I     P         3424

use filter() to return all data for those samples receiving treatment P:

In [72]:
meta%>%
filter(treatment == 'P')

  sex stage treatment myc
1 M   II    P         8674
2 F   I     P         3424
3 M   II    P          463
4 F   II    P         5105

use filter()/select()to return only the stage and treatment columns for those samples with myc > 5000:

In [83]:
meta%>%
select(treatment,stage)%>%
filter(myc>5000)

  treatment stage
1 A         I
2 P         II
3 P         II

remove the treatment column from the dataset using []:

In [105]:
meta[3] <- NULL

remove samples 7, 8 and 9 from the dataset using []:

In [116]:


me = meta[-c(7, 8, 9),]

me

         sex stage treatment myc
sample1  M   I     A         2343
sample2  F   II    A          457
sample3  M   II    A         4593
sample4  F   I     A         9035
sample5  M   II    B         3450
sample6  F   II    B         3524
sample10 F   I     P         3424
sample11 M   II    P          463
sample12 F   II    P         5105

keep only samples 1-6 using []:

In [124]:
meta[c(1:6),]

        A B  C D
sample1 M I  A 2343
sample2 F II A  457
sample3 M II A 4593
sample4 F I  A 9035
sample5 M II B 3450
sample6 F II B 3524

add a column called pre_treatment to the beginning of the dataframe with the values T, F, F, F, T, T, F, T, F, F, T, T (Hint: use cbind()):

In [121]:
new = (pre_treatment=c('T', 'F', 'F',' F', 'T', 'T', 'F', 'T', 'F', 'F', 'T', 'T'))
newmeta =cbind(meta,new)
newmeta

         sex stage treatment myc  new
sample1  M   I     A         2343 T
sample2  F   II    A          457 F
sample3  M   II    A         4593 F
sample4  F   I     A         9035  F
sample5  M   II    B         3450 T
sample6  F   II    B         3524 T
sample7  M   I     B          958 F
sample8  F   II    B         1053 T
sample9  M   II    P         8674 F
sample10 F   I     P         3424 F
sample11 M   II    P          463 T
sample12 F   II    P         5105 T

In [123]:
colnames(meta) = c("A", "B", "C","D")
meta

         A B  C D
sample1  M I  A 2343
sample2  F II A  457
sample3  M II A 4593
sample4  F I  A 9035
sample5  M II B 3450
sample6  F II B 3524
sample7  M I  B  958
sample8  F II B 1053
sample9  M II P 8674
sample10 F I  P 3424
sample11 M II P  463
sample12 F II P 5105